  <form action="/lists" method="post">
    <div class="text-field"><input type="text" name="list[name]" placeholder="Name Your Todo List"></div>
    <div class="form-submit"><button type="submit">Create New List</button></div>
  </form>
