<div class="container">
  <form action="/lists" method="POST">
    <input type="hidden" name="list[user_id]" value="<%= current_user.id %>">
    <input type="text" name="list[list_name]" placeholder="List Name">
    <input type="submit" value="Create List">

</div>