<div class="main-body">

  <form action="/lists/<%=list.id %>" method="post">
    <%= erb :'lists/_form' %>
    <div class="form-submit"><button type="submit">Create New List</button></div>
  </form>

</div>
