<div class="container">

	<h2>Edit List</h2>

	<form id="edit_list" action="/lists/<%= @list.id %>" method="POST">
		<input type = "hidden" name = "_method" value = "PUT">
		<input type="hidden" name="list[user_id]" value="<%= @list.user_id %>">
		<div class="row title">
		<input type="text" name="list[title]" value="<%= @list.title %>"> </div><br>
		<input type="submit" value="Edit List">
	</form>

	<br>
	<br>

	<form id="delete_list" action="/lists/<%= @list.id %>" method="POST">
		<input name="_method" type="hidden" value="DELETE">
		<input type="submit" value="Delete List">
	</form>

	<% 30.times do %>
		<br>
	<% end %>

</div>