<div class='container'>
    <div>
      <h3 id='new-header'>Edit list:</h3>
    </div>

    <% if @errors %>
      <p>Please fix the following errors:</p>
          <% @errors.each do |error| %>
          <li><%= error %></li>
          <% end %>
    <% end %>

    <div>
      <form class='new-list-form' action='/lists/<%= @list.id %>' method='post'>
        <input name="_method" type="hidden" value="PUT">
      <input type="text" name="list[title]" placeholder="List Title">
      <input type="hidden" name="list[user_id]" value="<%= current_user %>">
      <input type="submit" value="Edit" >
      </form>
    </div>
</div>
