<div class="container">
  <h2>New List</h2>

  <form action="/lists" method="post">
    <label for="list">Name:</label>
    <input type="text" name="list[name]"></div>
    <br><br>
    <label for="list">Description (optional):</label>
    <input type="text" name="list[description]">
    <br><br>
    <input type="hidden" name="list[user_id]" value="<%= current_user.id %>">
    <br><br><button type="submit">Create List</button>
  </form>
</div>
