<div class='container'>
    <div>
      <h3 id='new-header'>Create a new list:</h3>
    </div>

    <% if @errors %>
      <p>Please fix the following errors:</p>
          <% @errors.each do |error| %>
          <li><%= error %></li>
          <% end %>
    <% end %>

    <div>
     <%= erb :'lists/_new_list_form' %>
    </div>
</div>
