<div class="container">
  <h2>New List</h2>

  <form action="/lists" method="post">
    <label for="list">Name:</label>
    <input type="text" name="list[name]"></div>
    <br><br>
    <label for="task">Tasks:</label>
    <input type="text" name="task[description]">
    <br><br>
    <input type="text" name="task[description]">
    <br><br>
    <input type="hidden" name="list[user_id]" value="<%= current_user.id %>">
      <input type="hidden" name="task[user_id]" value="<%= @list_id %>">
      <input type="hidden" name="task[list_id]" value="<%= List.last.id %>">
    <br><br><button type="submit">Create</button>
  </form>
</div>
