<div class='container'>
  <h1><%= @list.title %></h1>
  <h4><a href="/lists/<%= @list.id %>/edit">Edit List</a></h4>

  <h3>All tasks in this list:</h3>
  <h4><a href="/lists/<%= @list.id %>/tasks/new">Add a task</a></h4>

  <ol>
    <% @tasks.each do |task| %>
      <li><%= task.name %></li>
    <% end %>
  </ol>

  <% 30.times do %>
    <br>
  <% end %>

</div>
