<div class='container'>
	<h2><%= @list.title %></h2>

	<h4>All tasks in this list:</h4>
	<ol>
		<% @tasks.each do |task| %>
			<li><%= task.name %></li>
		<% end %>
	</ol>

	<% 30.times do %>
		<br>
	<% end %>

</div>