<div class='container'>
<h3>Here's your current tasks for the "<%= @list.title %>" list :</h3>

<div >
  <button id='task-button'><span><a href="/lists/<%=@list.id%>/tasks/new">Create Task</a></span></button>
</div>
  <table align="center">
    <tr>
      <th>Task Name</th>
      <th>Task Description</th>
      <th>Task Status</th>
      <th>Date Created</th>
    </tr>
      <% @list.tasks.each do |task| %>
    <tr>
      <%= erb :'tasks/_new_task_item', locals: {list: @list, task: task} %>
    </tr>
      <% end %>
  </table>
</div>
