<h1 class="task-title"><%= @list.name%></h1>
<a href="/taks/new"></a>

<ul class="tasks-show">
<% @list.tasks.each do |task|%>
  <li>
    <form class="task-delete" action="/tasks/<%=task.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">X</button>
  </form>
  <%=task.description%></li>
<%end%>
</ul>

<a class="btn btn-new" href="/list/<%= @list.id%>/tasks/new"> add a task</a>
