<div class='container'>
    <div>
      <h3 id='new-header'>Edit Task:</h3>
    </div>

    <% if @errors %>
      <p>Please fix the following errors:</p>
          <% @errors.each do |error| %>
          <li><%= error %></li>
          <% end %>
    <% end %>

    <div>
      <%= erb :'tasks/_edit_task_form', locals: {list: @list, task: @task} %>
    </div>
</div>
