<div class='container'>
    <% if @errors %>
      <p>Please fix the following errors:</p>
          <% @errors.each do |error| %>
          <li><%= error %></li>
          <% end %>
    <% end %>

    <div>
      <h3 id='new-header'>Create a new task:</h3>
    </div>

    <div>
      <%= erb :'tasks/_new_task_form', locals: {list: @list} %>
    </div>
</div>
