<div class="container">

  <h1><a href='/'>Create a new Task</a><h1>

  <%= erb :'_errors', locals: {errors: @errors} %>

  <form id="new_task" action="/lists/<%= @list.id %>/tasks" method="POST">
    <input type="hidden" name="task[user_id]" value="<%= current_user.id %>">
    <input type="hidden" name="task[list_id]" value="<%= @list.id %>">
    <div class="row name">
      <input type="text" name="task[name]" placeholder="Name"> </div>
    <div class="row description">
      <input type="text" name="task[description]" placeholder="Description"> </div>
    <input type="submit" name="" value="Create Task">
  </form>
</div>
