<form action="/lists/<%= @list.id %>/tasks" method="POST">
  <input type="hidden" name="task[status]" value="incomplete">
  <input type="hidden" name="task[list_id]" value="<%= @list.id %>">
  <input type="text" name="task[task_name]" placeholder="Task Name">
  <input type="submit" value="Create Task">

</form>