/*Layout Styling*/

* {
  box-sizing: border-box;
}

form input {
  color:black;
}

body {
  color: white;
  background: white;
  font-family: 'Slabo 27px', serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: white;
}

h3 {
  font-size: 30px;
  text-align: center;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: 'Slabo 27px', serif;
  text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

h4 {
  font-size: 30px;
  font-family: 'Slabo 27px', serif;
  text-align: center;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

/*li {
  font-size: 30px;
  font-family: 'Slabo 27px', serif;
}*/


@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  background: #82DC7C;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 10px #82DC7C;
}

.container h1 {
  margin: 0 auto;
  padding-bottom: 0;
  font-size: 42pt;
  font-family: 'Slabo 27px', serif;
  text-align: center;
  color: white;
  padding: 15px;
  text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

footer h4 {
  text-align: center;
  padding-top: 30px;
}


/*Nav bar*/
.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

/*Registration page*/

#register .row.error:after,
#register .row.success:after {
  content:'';
  position:absolute;
  right: 60px;
  top: 8px;
  width:32px;
  height:32px;
  background:url('http://i38.tinypic.com/33c4s9c.png') no-repeat;
}

.errors ul {
  margin: 5px auto;
}

.errors li {
  list-style-type: none;
  font-size: 18px;
  text-align: left;
}

#register input[type=text],
#register input[type=email],
#login input[type=text]{

  border:none;
  background:url('http://i34.tinypic.com/2qm0ndc.png') no-repeat top left;
  font:14px 'Segoe UI','Arial',sans-serif;
  color:#888;

  outline:none;

    height: 48px;
    margin: 0 auto 22px;
    padding: 0 10px 0 50px;
    width: 355px;
}

#register input[type=password],
#login input[type=password]{

  border:none;
  background:url('http://i34.tinypic.com/2qm0ndc.png') no-repeat bottom left;
  font:14px 'Segoe UI','Arial',sans-serif;
  color:#888;

  outline:none;

    height: 48px;
    margin: 0 auto 22px;
    padding: 0 10px 0 50px;
    width: 350px;
}

#register input[type=submit],
#login input[type=submit]{

    border: 1px solid #0f500b;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    cursor: pointer;
    display: block;
    font: bold 24px Cambria,"Hoefler Text",serif;
    margin: 0 auto 0;
    padding: 9px;
    text-shadow: 0 -1px 0 #000000;
    width: 200px;
    background-color: #3e9238;
}


