@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,700,500);


@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);


*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  &:extend(html);
  background: radial-gradient(transparent 50%,rgba(0,0,0,.3) 100%),linear-gradient(#D77A6B,#d2c09c 60%,#876d54);
  font:16px 'Roboto', sans-serif;
  color: #8e8171;
}

#home-content {
  width: 50%;
  background: white;
  margin-left: 9%;
  height: 525px;
  border-radius: 20px;
}

#home-login {
  float: right;
  margin-right: 10%;
}

#nav-bar {
  background: #fff;
  width: 30%;
  margin: auto;
  position: relative;
  border-radius: 15px;
}

#nav-bar li{
  display: inline-block;
  margin: auto;
  text-align: center;
}

#nav-bar ul{
  margin: 2em auto;
  text-align: center;
  padding: 1em;
}

#nav-bar a{
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  color: slategray;
}


.submit {
  padding: .5em;
  border-radius: 10px;
  color: white;
  margin: auto;
}

.login-register{
  margin:30px auto;
  width: 300px;
  height: 420px;
  background: #fff;
  padding: 0 30px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
  position: relative;
  overflow: hidden;


  form{
    margin-top: 30px;
    height: 255px;

    span{
      margin-left: 5px;
    }

    input{ &:focus{ border-left: 1px solid #e86740; } }
  }


  }
}
