.banner {
  text-align: center;
}


/********
NAVIGATION
*********/

.navigation {
}

.navigation ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
position: relative;
}

.navigation h2 {
  position: absolute;
  color: white;
  z-index: 1;
  margin: 0;
  padding-top: 8px;
  padding-left: 10px;
}

.navigation li {
  float: right;
}

.navigation li a {
display: block;
color: white;
text-align: center;
padding:14px 16px;
text-decoration: none;
}

.navigation li a:hover{
background-color: #f4511e;
}

.container {
  width: 98%;
  margin: 1%;
  position: relative;
}

.container h3{
  text-align: center;
  position: absolute;
  left: 490px;
  top: 100px;
}

.container button {
  position: absolute;
  left: 700px;
}

/********
HomePage
*********/

.list-new-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left: 490px;
}


.list-new-button a{
  text-decoration: none;
  color: white;
}

.list-new-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.list-new-button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.list-new-button:hover span {
  padding-right: 25px;
}

.list-new-button:hover span:after {
  opacity: 1;
  right: 0;
}

#task-button {
background-color: #f4511e;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
position: absolute;
top: 50px;
left: 10px;
font-size: 16px;
border-radius: 5px;
}

#task-button a{
  text-decoration: none;
  color: white;
}

/********
New List/Task Form
*********/

.new-list-form input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.new-list-form input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.new-list-form input[type=submit]:hover {
    background-color: #45a049;
}

#new-header {
  display: block;
  text-align: left;
}


/********
Profile Table
*********/


table {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 15px;
    width: 70%;

    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

 th {
  background-color: #4CAF50;
  color: white;
  height: 50px;
  padding: 15px;

}

td {
  height: 50px;
  padding: 15px;
  width:
}

 tr:hover {
background-color: #f5f5f5;
}

/*******************
FORMS/LOGIN/REGISTER
*******************/


/*******************
SELECTION STYLING
*******************/

::selection {
  color: #fff;
  background: #f676b2; /* Safari */
}
::-moz-selection {
  color: #fff;
  background: #f676b2; /* Firefox */
}

#wrapper {
  /* Center wrapper perfectly */
  width: 300px;
  height: 350px;
  margin: 70px auto;
}


.gradient {
  /* Center Positioning */
  width: 600px;
  height: 600px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -300px;
  z-index: -2;

  /* Fallback */
  background-image: url(http://www.demo.amitjakhu.com/login-form/images/gradient.png);
  background-repeat: no-repeat;

  /* CSS3 Gradient */
  background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213,246,255,1)), to(rgba(213,246,255,0)));
  background-image: -webkit-radial-gradient(50% 50%, 40% 40%, rgba(213,246,255,1), rgba(213,246,255,0));
  background-image: -moz-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
  background-image: -ms-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
  background-image: -o-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
}

/*******************
LOGIN FORM
*******************/

.login-register-form {
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 60px;

  background: #f3f3f3;
  border: 1px solid #fff;
  border-radius: 5px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.login-register-form #register-errors {
  display: inline-table;
  color: black;
  padding: 0;
}

/*******************
HEADER
*******************/

.login-register-form .header {
  padding: 40px 30px 0px 30px;
}

.login-register-form .header h1 {
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 28px;
  line-height:34px;
  color: #414848;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
  margin-bottom: 10px;
}

.login-register-form .header span {
  font-size: 11px;
  line-height: 16px;
  color: #678889;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-register-form .content {
  padding: 0 30px 25px 30px;
}

/* Input field */
.login-register-form .content .input {
  width: 188px;
  padding: 15px 25px;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #9d9e9e;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;

  box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-register-form .content .password, .login-register-form .content .pass-icon {
  margin-top: 25px;
}

.login-register-form .content .input:hover {
  background: #dfe9ec;
  color: #414848;
}

.login-register-form .content .input:focus {
  background: #dfe9ec;
  color: #414848;

  box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}


/*******************
FOOTER
*******************/

.login-register-form .footer {
  padding: 25px 30px 40px 30px;
  overflow: auto;

  background: #d4dedf;
  border-top: 1px solid #fff;

  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-register-form .footer .button {
  float:left;
  padding: 11px 25px;

  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);

  background: #56c2e1;
  border: 1px solid #46b3d3;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
  -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
  -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-register-form .footer .button:hover {
  background: #3f9db8;
  border: 1px solid rgba(256,256,256,0.75);

  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-register-form .footer .button:focus {
  position: relative;
  bottom: -1px;

  background: #56c2e1;

  box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
  -moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
  -webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}
