<div id='login' class="container">
<h2> Login </h2>
<form class='session-form' id='login-form' action='/sessions' method="post" >
  <input type='text' placeholder="username" name="user[username]">
  <input type='password' placeholder="password" name="user[password]">
  <input type='submit' value='login'>
</form>
</div>
