
<div id='login' class="login-register">
<div class="title"><h1>Register</h1></div>
<form class='sesssion-form' id='registration-form' action='/users' method="post" >

  <div class="input">
  <i class="fa fa-user"></i>
  <input type='text' placeholder="username" name="user[username]">
  <br><br>

  <i class="fa fa-envelope"></i>  <input type='text' placeholder="email" name="user[email]">
  </div>

  <br>
  <i class="fa fa-lock"></i>
  <input type='password' placeholder="password" name="user[password]">
  <br><br>
  <input class='submit' type='submit' value='register'>
</form>
<div class='errors'></div>
</div>
