<% if current_user.lists.empty? %>
  <div class='container'>
    <h3>You currently don't have any todo lists. Please click 'create list' to start a new list.</h3>
    <button class='list-new-button' id='create-new-list'><span><a href="/lists/new">Create List</a></span></button>
  </div>
<% elsif current_user %>
  <div class='container'>
    <button class='list-new-button' id='create-new-list'><span><a href="/lists/new">Create List</a></span></button>

    <h3>Here's your current todo lists:</h3>
      <table align="center">
        <tr>
          <th>List Name</th>
          <th>Total Tasks</th>
          <th>Completed Tasks</th>
          <th>Date Created</th>
        </tr>
      <% current_user.lists.each do |list| %>
        <tr>
          <%= erb :'lists/_new_list_item', locals: {list: list}%>
        </tr>
      <% end %>
      </table>
  </div>
<% end %>
