<div class="container" id="wrapper" >

  <form class="login-register-form" action="/users" method="post" id="login-form">
    <input type="hidden" name="_method" value="put">

    <div class="header">
      <h1>Login:</h1>
      <span>Please enter credentials below to login</span>
      <% if @errors %>
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <!-- email -->
    <div class="content">
      <div>
      <input class="input username" type="text" name="email" placeholder="email" value="<%  %>">
      </div>

      <!-- password -->
      <div>
        <input class="input password" type="password" name="password" placeholder="password">
      </div>
    </div>

    <!-- login button -->
    <div class="footer">
      <input type="submit" value="Login" class="button">
    </div>

  </form>

</div>
