<div class="container">
  <form action='/users' method='POST'>
    <input id="name" type="text" name="user[username]" required="required" placeholder="Name"/>
    <input id="email" type="text" name="user[email]" required="required" placeholder="Email"/>
    <input type="password" name="user[password]" required="required" />
    <input type="submit" value="Register">
  </form>
</div>