<h1 class="title">register</h1>
<form id="register" action="/users" method="post">
  <div calss="text-field"><input type="text" name="user[username]" placeholder="username"></div>
  <div calss="text-field"><input type="text" name="user[full_name]" placeholder="Full Name"></div>
  <div calss="text-field"><input type="password" name="user[password]" placeholder="Password"></div>
  <div calss="form-btn"><button type="submit">Register</button></div>
</form>
