<div class="contain form login-form">
  <form id="register" action="/users" method="post">
    <div class="text-field"><input type="text" name="user[username]" placeholder="username"></div>
    <div class="text-field"><input type="text" name="user[full_name]" placeholder="Full Name"></div>
    <div class="text-field"><input type="password" name="user[password]" placeholder="Password"></div>
    <div class="form-btn"><button type="submit">Register</button></div>
  </form>
</div>
