<div class="container">
 <h2>Welcome, <%= current_user.username %>!</h2>
<h3>Your Lists:</h3>
<table style="width:80%">
  <tr>
    <th><h4>List</h4></th>
    <th><h4>Date Created</h4></th>
  </tr>
    <% @lists.each do |list| %>
    <tr>
      <td><a href="/lists/<%= list.id %>"><%= list.name %></a></td>
    <td><%= list.created_at.strftime("%b %d, 20%y") %><% end %></td>
  </tr>
</table>
<h3>Completed Tasks</h3>
<table style="width:80%">
  <tr>
    <th><h4>Task</h4></th>
    <th><h4>Date Added</h4></th>
  </tr>
    <tr>
      <td>
        task
      </td>
    <td>date</td>
  </tr>
</table>
<h3>Tasks In Progress</h3>
<table style="width:80%">
  <tr>
    <th><h4>Task</h4></th>
    <th><h4>Date Added</h4></th>
  </tr>
    <tr>
      <td>
        task
      </td>
    <td>date</td>
  </tr>
</table>
</div>
