<div class="form login-form">
  <form id="login" action="/sessions" method="post">
    <div class="text-field"><input type="text" name="username" placeholder="Username"></div>
    <div class="text-field"><input type="password" name="password" placeholder="Password"></div>
    <div class="form-btn"><button type="submit">Submit</button></div>
  </form>
</div>
<p class="guest">seed database use <strong>guest</strong> as username and <strong>password</strong> for password</p>
<div class="register"><a class="btn new-btn" href="/users/new">Register</a></div>
