<div class="container">
  <h1>Todo List App</h1>
  <nav>
    <% if current_user != nil %>
    <a href="/lists/show">Lists<a>
    <a href="/lists/new">Create List<a>
    <a href="/users/<%= current_user.id %>">Profile</a>
    <a href="/">Home</a>
    <a href="/users/logout">Log Out</a>
    <% else %>
     <a href="/lists/show">Lists<a>
    <a href="/users/login">Log In</a>
    <a href="/users/new">Register</a>
    <a href="/">Home</a>
    <% end %>
  </nav>
  Welcome!
</div>
