<h1>Todo List</h1>
<blockquote >
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
</blockquote>

<% if logged_in?%>
  <h1>Create New Todo List</h1>
  <a href="/lists/new" class="btn">Create a new list</a>
<% else %>
<form id="login" action="/sessions" method="post">
  <div class="text-field"><input type="text" name="username" placeholder="Username"></div>
  <div class="text-field"><input type="password" name="password" placeholder="Password"></div>
  <div class="form-btn"><button type="submit">Submit</button></div>
</form>

<% end %>
