<div class="container">
  <h1> Welcome to the Philosopher's ToDo List!</h1>

  <h2> Lists </h2>
  <ul id="list-of-lists"><% @lists.each do |list| %>
    <%= erb :'list/_todolist_list_item', locals: {list: list} %>
  <% end %></ul>
</div>

<% if current_user && @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<% if current_user %>
  <div class="container">
    <h2> Create a New List! </h2>

    <form id="new-list-form" action="/lists/new" method="post">
      <label for="list[name]">List Name: </label>
      <input id="new-list-name" name="list[name]" type="text">
      <input name="list[user_id]" value="<%= current_user %>" type="hidden">
      <input type="submit" value="Submit">
    </form>
  </div>
<% end %>
