<div class="container">
  <h1> Listing List of ToDo Lists Listed by Listed ID </h1>
  <% if @lists %>
    <ul>
    <% @lists.each do |list| %>
      <li> <a href="/lists/<%=list.id%>"><%= list.title %></a>
      </li><br>
    <% end %>
    <ul>
  <% end %>
</div>
