<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <!-- Global font -->
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

  <!-- Nav bar -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
  <link href='style.css' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>ToDoList</title>
</head>
<body>

  <header class="main_h">
    <div class="row">
        <a class="logo" href="/">ToDoList</a>
        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul>
                <li><a href="/lists">Lists</a></li>
                <% if current_user %>
                <li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
                <li><a href="/users/logout">Log Out</a></li>
                <% else %>
                <li><a href="/users/new">Register</a></li>
                <li><a href="/users/login">Log In</a></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>

  <%= yield %>
  <footer>
    <div class="container">
      <h4>© 2016 momo, Inc. </h4>
    </div>
  </footer>

</body>
</html>
