<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Todo List</title>
</head>
<body>
  <%if logged_in?%>
  <div class="side-menu">
    <header>
      <nav id="nav">
        <ul>
          <!-- <li> <a href="/login">login</a></li> -->
          <!-- <li> <a href="/users/new">Register</a></li> -->
          <li> <a href="/lists/new" class="btn btn-new new-list">Create a new list</a></li>
          <li> <a href="/lists">Manage Lists</a></li>
          <li> <a href="/user/<%= current_user.id%>">profile</a></li>
          <li> <a href="/logout">logout</a></li>
        </ul>
      </nav>

    </header>
  </div>
  <%end%>
  <%if @errors%>
     <ul id="errors">
       <% @errors.each do |error|%>
       <li> <%= error %></li>
       <%end%>
       <!-- <span style="float:right;">X</span> -->
     </ul>
  <%end%>
  <div id="main" class="container">
    <%= yield %>
  </div>
</body>
</html>
